<div class="text-center">
  <form class="form-signin">
    <h1 class="h4 mb-3 login">Cadastro de Produtos</h1>

    <label for="inputNome" class="sr-only">Nome</label>
    <input type="text" id="inputNome"
           name="nome" placeholder="Informe o nome do produto"
           class="form-control mb-2"
           [ngClass]="{
            'is-invalid':nome.invalid && (nome.dirty || nome.touched),
            'is-valid':nome.valid && (nome.dirty || nome.touched)
           }"
           [(ngModel)]="produto.nome"
           #nome="ngModel"
           required />

    <div class="invalid-feedback mb-3" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        Por favor, o nome do produto.
      </div>
    </div>

    <label for="inputDescricao" class="sr-only">Descrição</label>
    <input type="text" id="inputDescricao"
           name="descricao" placeholder="Informe a descrição"
           class="form-control mb-2"
           [ngClass]="{
            'is-invalid':descricao.invalid && (descricao.dirty || descricao.touched),
            'is-valid':descricao.valid && (descricao.dirty || descricao.touched)
           }"
           [(ngModel)]="produto.descricao"
           #descricao="ngModel"
           required />

    <div class="invalid-feedback mb-3" *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)">
      <div *ngIf="descricao.errors.required">
        Por favor, informe a descrição do produto.
      </div>
    </div>    

    <label for="inputPreco" class="sr-only">Preço</label>
    <input type="text" id="inputPreco"
           name="preco" placeholder="Informe o preço"
           class="form-control mb-2"
           [ngClass]="{
            'is-invalid':preco.invalid && (preco.dirty || preco.touched),
            'is-valid':preco.valid && (preco.dirty || preco.touched)
           }"
           [(ngModel)]="produto.preco"
           #preco="ngModel"
           required />

    <div class="invalid-feedback mb-3" *ngIf="preco.invalid && (preco.dirty || preco.touched)">
      <div *ngIf="preco.errors.required">
        Por favor, informe o preço do produto.
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputFile" (change)="inputChange($event.target.files)" />
        <label for="inputFile" class="custom-file-label">Escolha uma foto para o produto</label>
      </div>
    </div>


    <button class="btn btn-primary btn-block mb-3" type="submit" (click)="cadastrar()">
      <span *ngIf="ativarspinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cadastrar
    </button>    

    <div class="alert alert-danger" *ngIf="mensagem">
      {{mensagem}}
    </div>

  </form>
</div>


